*{ /*Sinal de multiplicação significa que está sendo pego todos os elementos existentes no nosso documento*/
margin: 0; /*Espaçamento*/
padding: 0; /*Espaçamento*/
}

/*
 Estilo para o conteudo do nosso site
*/

html,body {
	height: 100%;

}

/*
.header{
	width: 100%;
	min-width: 1280px;
	height: 200px;
	background: gray;
}
*/
.article{
	margin: 0 auto;
	width: 1280px;
	height: 10%;
	max-height: 20%
	min-height: 50%;
	background: red;

}